@import "tailwindcss";
@import "tw-animate-css";
@import "@liveblocks/react-ui/styles.css";
@import "tailwindcss" important;

* {
  font-family: work sans, sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-black: #14181f;
  --color-primary-green: #56ffa6;
  --color-primary-gray-100: #2b303b;
  --color-primary-gray-200: #202731;
  --color-primary-gray-300: #c4d3ed;
  --animate-accordion-down: "accordion-down 0.2s ease-out";
  --animate-accordion-up: "accordion-up 0.2s ease-out";

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

@layer utilities {
  .no-ring {
    @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0;
  }

  .input-ring {
    @apply h-8 rounded-none border-none  bg-transparent outline-none ring-offset-0 focus:ring-1  focus:ring-primary-green focus:ring-offset-0 focus-visible:ring-offset-0;
  }

  .right-menu-content {
    @apply flex w-80 flex-col gap-y-1 border-none bg-primary-black py-4 text-white;
  }

  .right-menu-item {
    @apply flex justify-between px-3 py-2 hover:bg-(--color-primary-gray-200);
  }
}
